body {
  text-align:center;
  font-family:Arial;
  background:#dff9fb;
}
img {
  width:250px;
  margin:20px;
}
button {
  font-size:20px;
  margin:10px;
  padding:10px 20px;
  background:#f6e58d;
  border:none;
  border-radius:10px;
  cursor:pointer;
}
#feedback {
  font-size:24px;
  margin-top:20px;
}
#score {
  font-size:22px;
  margin-top:10px;
}